---
layout: default
title: Services
---

      <h1>Services</h1>
      <div class="row">
      {% for service in site.services %}
        {% include components/card-mini.html url=service.url title=service.title thumbnail=service.thumbnail description=service.description content=service.content %}
      {% endfor %}
  	</div>
      {% for service in site.services %}
        {% include components/card-long.html url=service.url title=service.title thumbnail=service.thumbnail description=service.description content=service.content %}
      {% endfor %}