.main-margin-padding {
	margin-top:5rem;
	padding-top:3rem;
}
.custom-footer h4{
	font-weight: bold;
	margin-bottom: 1rem;
}
.custom-footer ul{
	list-style: none;
	padding: 0;
}
.custom-footer ul li{
	padding:0.25rem 0;
}
.custom-footer a{
	color:#212121!important;
}